.main-body {
    width: 80%;
    background-color:  white;
    padding: 20px;
    margin: auto;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    padding-top: 120px;
}

.p1 {
    font-size: 50px;
    text-align: center;
}

.p2 {
    font-size: 40px;
    text-align: center;
}

.main-body img{
    width: 80%;



}

@media (max-width: 920px){
    body {
        padding-top: 265px;
    }
}