

.main-body {
    background-color: white;
    width: 100%;
}


video {
    width: 100%;
    border: 2px solid white;
    height: 100%;

}


body {
    width: 100%;
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    padding-top: 120px;


}

.szechenyi-2020 {
    position: fixed;
    display:block;
    right: 0px;
    bottom: 0px;
    
}

.szechenyi-2020 img {
    width: 214px;
    height: 150px;
}

@media (max-width: 920px){
    body {
        padding-top: 265px;
    }
}
