

.main-body {
    padding: 0 100px 20px 100px;
    width: 80%;
    margin: auto;
    
}

.media-content {
    display: inline-block;
    text-align: center;
    padding: auto;

    
}

.media-img {
    width: 100%;
}

.media-container-row {
    display: inline;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;

      
}

.media-container-row2 {
  display: inline;
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;

    
}

.nagy-text {
  font-size: 60px;
  text-align: center;
  margin: auto;
}

.nagy-text-szoveg {
  color: white;
}

.nagy-kep {
  text-align: center;
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.nagy-kep img {
  text-align: center;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
  padding-top: 120px;
}