

.main-body {
    padding: 0 100px 20px 100px;
    
}

.media-content {
    display: inline-block;
    text-align: center;
    padding: 10px;

    
}

.media-img {
    width: 204px;
}

.media-container-row {
    display: inline;
    width: 1200px;
    height: 254px;
    text-align: center;
      
}

.media-container-row2 {
  display: inline;
  width: 1200px;
  height: 254px;
  text-align: center;
  padding-left: 110px;
    
}

.nagy-text {
  font-size: 60px;
  text-align: center;
}

.nagy-text-szoveg {
  color: white;
}

.nagy-kep {
  text-align: center;
  margin: auto;
  width: 768px;
  border: 1px solid black;
  height: 538px;
}

.nagy-kep img {
  text-align: center;
}

body {
  background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
  padding-top: 120px;
}