
.main-body {
    display: block;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
}

.main-content {
    border: 2px solid white;
    width: 1160px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 50px;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    background-color: rgb(188, 233, 239);
    margin-bottom: 20px;
    
}


.first {
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: 5px;
}


.second {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.second-text {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;

}

.sec-text-doboz {
    margin: 30px auto 10px auto;

}

.szedacio-text {
    font-size: 20px;
    text-align: left;
    background-color: rgb(188, 233, 239);
    margin: auto;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    
}

.video-row {
    height: auto;
    margin-bottom: 0px;
    width: 85%;
    background-color: rgb(209, 235, 233);
    margin-left: auto;
    margin-right: auto;

    
    
}

.video1,
.video2,
.video3 {
    display: inline;
    width: 100px;
    
}

.smart-guide {
    border: 2px solid white;
    width: 80%;
    padding: 20px;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgb(181, 231, 237), rgb(195, 234, 236));
}

.smart-guide-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.smart-guide-title p {
    font-size: 45px;
    margin-bottom: 10px;
}

.smart-guide-video {
    margin-top: 5px;
}

.text1-main {
    font-size: 30px;
}

.smart-guide-text2 {
    text-align: left;
    height: auto;
}

.smart-guide-elonyok {
    height: auto;
}

.bold-p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

li {
    font-size: 23px;
}

.implant-pontok {
    text-align: left;
    display: inline-block;
}

.implantacio-folyamat {
    height: auto;

}

.kulon-p {
    font-size: 27px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.monitor-kep {
    width: 300px;
    display: inline-block;
}

.implantacio-kep {
    display: inline-block;

}

.utolso-p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.kozep {
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

.line{
    height: 30px;
}

body {
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    padding-top: 120px;
    height: auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 920px) {
    body {
        padding-top: 265px;
    }
      
  }